[Desktop Entry]
Version=1.0
Type=Application
Name=Vulkan Installer
Comment=Configure and Install Vulkan Drivers for Steam
Exec=~/Vulkan installer/app/Function.sh
Icon=~/Vulkan installer/app/icon.png
Terminal=false
Categories=System;Settings;Game;
Keywords=vulkan;steam;gaming;install;
