[Desktop Entry]
Version=1.0
Type=Application
Name=Vulkan Installer
Comment=Vulkan Setup
Exec=file
Path=file
Icon=vulkan-installer
Terminal=false
Categories=Game;
